.cursor-pointer {
  cursor: pointer;
}
.header {
  background-color: #131921;
}

.user-avatar {
  border-radius: 50%;
  border: 1px solid white;
}
.profile-btn {
  margin-left: auto;
  position: relative;
}

.register-modal {
  position: absolute;
  top: 40px;
  left: -80px;
  z-index: 5;
}

.layout-sh{
  z-index: 4;
  height: 100vh;
  width: 100vw;
}