.gradient-custom {
  background: url("../../../assets/back.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}
.form-login {
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: inset 0 0 500px 5px #111111a6;
}

.cursor {
  cursor: pointer;
}
