<div class="container d-flex align-items-center justify-content-between alert alert-light  mt-1">
    <button mat-raised-button color="primary" (click)="getByTitle()">By title</button>
    <button mat-raised-button color="accent" (click)="getBigCollections()">Big collections (8)</button>
    <button mat-raised-button color="warn" (click)="getMoreLiked()">Most liked (8)<mat-icon>favorite</mat-icon></button>
    <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let tag of tags" [value]="tag.id">{{tag.title}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>