<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of collections">
            <div class="card mb-3">
                <img [src]="item.avatar.url" class="card-img-top" width="80" height="150" alt="{{ item.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>