<div class="container p-3 rounded-4">
    <button class="btn border-0 fs-3 " (click)="closeModal()">⤬</button>
    <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()">
        <div class="form-group p-3">
            <select class="form-control" formControlName="type">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="form-group p-3">
            <mat-form-field class="w-100">
                <mat-label>key</mat-label>
                <input type="text" matInput placeholder="key" formControlName="key">
            </mat-form-field>
        </div>
        <div *ngIf="fieldForm.value.type == 'text'" class="form-group p-3">
            <mat-form-field class="w-100">
                <mat-label>value</mat-label>
                <input type="text" matInput placeholder="value" formControlName="value">
            </mat-form-field>
        </div>
        <div *ngIf="fieldForm.value.type == 'checkbox'" class="form-group p-3">
            <select class="form-control" formControlName="value">
                <option [value]="true">true</option>
                <option [value]="false">false</option>
            </select>
        </div>
        <div *ngIf="fieldForm.value.type == 'richtext'" class="form-floating p-3">
            <mat-form-field class="w-100">
                <mat-label>value</mat-label>
                <textarea matInput placeholder="value" formControlName="value"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="fieldForm.value.type == 'date'" class="p-3">
            <mat-form-field class="w-100">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="value">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="fieldForm.invalid">Create</button>
    </form>
</div>