<ul class="list-unstyled">
    <li *ngFor="let field of fields" class="">
        <div *ngIf="field?.type == 'text'" class="d-flex align-items-center">
            <p class="fw-bold">{{field.key}} : </p>
            <p class="text-danger">{{field.value}}</p>
        </div>
        <div *ngIf="field?.type == 'checkbox'" class="d-flex align-items-center">
            <p class="fw-bold text-warning"> {{' ' + field.key}} : </p>
            <label class="mx-1 mb-1">
                <input type="checkbox" [checked]="field.value" class="d-none filed-checkbox-input">
                <span class="filed-checkbox"></span>
            </label>
        </div>
    </li>
</ul>