<ul class="list-unstyled">
    <li *ngFor="let field of fields" class="">
        <div *ngIf="field?.type == 'text'" class="d-flex align-items-center">
            <p class="fw-bold">{{field.key}} : </p>
            <p class="text-danger">{{field.value}}</p>
        </div>
        <div *ngIf="field?.type == 'checkbox'" class="d-flex align-items-center">
            <label class="mx-1 mb-1">
                <mat-checkbox class="mx-2" [checked]="field.value">{{field.key}}</mat-checkbox>
            </label>
        </div>
        <div *ngIf="field?.type == 'date'" class="d-flex align-items-center">
            <p class="fw-bold">{{field.key}} : </p>
            <p class="text-danger mx-1">{{field.value | date}}</p>
        </div>
        <div *ngIf="field?.type == 'richtext'" class="d-flex align-items-center">
            <p class="fw-bold">{{field.key}} : </p>
            <p class="text-danger">{{field.value}}</p>
        </div>
    </li>
</ul>