<div class="collection-container d-flex flex-column justify-content-between">
    <mat-tab-group>
        <mat-tab label="By Title">
            <div class="d-flex flex-column justify-content-between coll-dev">
                <app-collection-list [collections]="collections"></app-collection-list>
                <app-pagination [meta]="meta" [links]="links" (setPagination)="paginate($event)"></app-pagination>
            </div>
        </mat-tab>
        <mat-tab label="Big collections (8)">
            <app-collection-list [collections]="bigCollections"></app-collection-list>
        </mat-tab>
        <mat-tab label="Most liked (8)❤️">
            <app-collection-list [collections]="likedCollections"></app-collection-list>
        </mat-tab>
    </mat-tab-group>
</div>