<button class="btn" [class.visible]="userId" [class.invisible]="!userId" (click)="openCreateItemModal()">Create
    Item
</button>
<app-item-create class="item-create" [class.visible]="isItemCreateModalOpen" [class.invisible]="!isItemCreateModalOpen"
    [userId]="userId" [collection]="collectionId" (closeCreateListModal)="closeCreateModalList($event)"
    (setNewItem)="setNewItem($event)">
</app-item-create>
<div class="container">
    <ul class="w-100 list-unstyled row d-flex align-items-stretch">
        <li *ngFor="let item of items" class="col-lg-3 col-md-6 col-sm-12 ">
            <div class="card rounded-top-5 h-100 d-flex flex-column justify-content-start">
                <img [src]="item?.avatar?.url" height="200" class="rounded-top-5 card-img">
                <div class="card-body flex-grow-0">
                    <h3>{{item?.name}}</h3>
                </div>
                <div class="d-flex align-items-center">
                    <button [disabled]="!userAccountId" class="btn border-0"
                        (click)="changeLike(!item?.isLiked,item.id)">{{item?.isLiked ?'❤️':'🖤' }}</button>
                    <span [class.text-dark]="!item?.isLiked"
                        [class.text-danger]="item?.isLiked">{{item?.likesCount}}</span>
                </div>
                <button class="btn text-start text-info fw-bold"
                    [routerLink]="[currentPath,'item',item?.id]">Details</button>
                <div class="card-footer d-flex flex-column flex-grow-1 justify-content-between">
                    <!-- <app-field-list [fields]="item?.fields"></app-field-list> -->
                    <ul class="d-flex align-items-center list-unstyled ">
                        <li *ngFor="let tag of item?.tags" class="text-success">
                            {{tag.title + ' '}}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>