<div class="container bg-warning p-3 rounded-4">
    <div class="d-flex align-items-center justify-content-between w-100">
        <h2>Create Item</h2>
        <button class="btn border-0 fs-3" (click)="closeModal()">⤬</button>
    </div>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="form-group p-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="form-group p-3">
            <ul class="list-unstyled d-flex align-items-center flex-wrap">
                <li *ngFor="let tag of tags"
                    class="bg-success rounded-3 text-warning d-flex align-items-center justify-content-between">
                    <span class="p-1">{{tag?.title}}</span>
                    <span class="btn btn-danger mx-1" (click)="deleteTag(tag.id)">⤬</span>
                </li>
                <button class="btn btn-primary" (click)="changeCreateTagVisible(true)">Add tag</button>
            </ul>
            <app-tag-search-input *ngIf="isTagCreateOpen" (tagResponse)="createTag($event)"></app-tag-search-input>
        </div>
        <div class="form-group p-3">
            <ul class="list-unstyled d-flex align-items-center flex-wrap">
                <button class="btn btn-primary">Add field</button>
            </ul>
        </div>
        <div class="form-group p-3">
            <label for="avatar">Avatar</label>
            <input type="file" class="form-control-file" id="avatar" (change)="onFileChange($event)" accept="image/*">
            <div *ngIf="itemForm.controls['avatar'].invalid && (itemForm.controls['avatar'].dirty || itemForm.controls['avatar'].touched)"
                class="alert alert-danger">
                <div *ngIf="itemForm.controls['avatar'].errors?.['required']">
                    Avatar is required.
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">Create</button>
    </form>
</div>