.search-result {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 5px;
  border: 5px solid #bdd7fa;
  border-top: 0px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #fff;
  max-height: 300px;
}

.search-input:focus {
  background-color: #fff;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
